@page "/cryptochallengeset1"
@using Cryptopals.Data;

<h3>Crypto Challenge Set1</h3>

<h4>Hex to Base64</h4>
The string
<ResultPrompt Text="@HexStringChallange1"></ResultPrompt>
The result
<ResultPrompt Text="@HexStringToBase64String(HexStringChallange1)"></ResultPrompt>

<h4>Fixed XOR </h4>
The string
<ResultPrompt Text="1c0111001f010100061a024b53535009181c"></ResultPrompt>
The key
<ResultPrompt Text="686974207468652062756c6c277320657965"></ResultPrompt>
The result
<ResultPrompt Text="@FixedXOR("1c0111001f010100061a024b53535009181c","686974207468652062756c6c277320657965")"></ResultPrompt>

<h4>Single-byte XOR cipher</h4>

The string
<ResultPrompt Text="1b37373331363f78151b7f2b783431333d78397828372d363c78373e783a393b3736"></ResultPrompt>

<span>Cracking results: (higher frequency score is better); </span>
<div style="height:500px;overflow-y:scroll">
    <table>
        <thead>
            <tr>
                <th>@nameof(XorResult.Key)</th>
                <th>@nameof(XorResult.Result)</th>
                <th>@nameof(XorResult.CharFrequencyRating)</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@CrackSingleByteXOR("1b37373331363f78151b7f2b783431333d78397828372d363c78373e783a393b3736")" Context="result">
                <ItemContent>
                    <tr>
                        <td>@result.Key</td>
                        <td>@result.Result</td>
                        <td>@result.CharFrequencyRating</td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <p>no data to display</p>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
</div>
time to crack: @ElapsedMs ms
<br />
<br />
<h4>Detect single-byte XOR cipher</h4>

<span>Cracking results: (higher frequency score is better); </span>
<div style="height:500px;overflow-y:scroll">
    <table>
        <thead>
            <tr>
                <th>@nameof(XorResult.Key)</th>
                <th>@nameof(XorResult.Result)</th>
                <th>@nameof(XorResult.CharFrequencyRating)</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@CrackSingleByteXORFromFile(Challenge4List)" Context="result">
                <ItemContent>
                    <tr>
                        <td>@result.Key</td>
                        <td>@result.Result</td>
                        <td>@result.CharFrequencyRating</td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <p>no data to display</p>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
</div>
time to crack: @ElapsedMs ms
<br />
<br />