@page "/krypto"
@using Cryptopals.Entities
<h3>UniKryptoCeasar</h3>

<p>Verschlüsselter Text mit Ceaser Cipher</p>

<p>@ChiperText</p>

<div style="height:500px;overflow-y:scroll">
    <table>
        <thead>
            <tr>
                <th>@nameof(CeasarResult.Shift)</th>
                <th>@nameof(CeasarResult.Text)</th>
                <th>@nameof(CeasarResult.CharFrequencyRating)</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@BruteForceCeaser(ChiperText)" Context="result">
                <ItemContent>
                    <tr>
                        <td>@result.Shift</td>
                        <td>@result.Text</td>
                        <td>@result.CharFrequencyRating</td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <p>no data to display</p>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
</div>


<div>
    <p>Doppel Ceaser Test mit k1 = 25 und k2 = 27</p>
    Klartext = clemens
    k1: @Caesar("clemens",25).Text;
    k2: @DoubleCeasar("clemens",25,27);

    <p>
        <span>darauß resultiert <code>k1 + k2 % 26 != 0</code> oder in einer Formel für k1 in Abhängigkeit von k2<code>f(k2) := </code></span>
    </p>
</div>


<div>
    <p>
        <span>LaTex Converter Test Dict -> Latex Tabelle</span>
    </p>

    <textarea style="width: 100%" rows="30" value="@DictToLatexTable(FrequencyDict, "Buchstabe", "Relative Häufigkeit")"></textarea>    <p>
        <span>LaTex Converter Test List -> Latex Tabelle</span>
    </p>

    <textarea style="width: 100%" rows="30" value="@ListToLatexTable(BruteForceCeaser(ChiperText), "Ceasar Brutforce Results")"></textarea>
</div>